body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.div {
    position: relative;
    text-align: center;
}
.button {
    border: solid 1px blue;
    border-radius: 20px;
    color: blue;
    background-color: white;
    transition: background-color;
    padding: 10px 20px;
}
button:hover{
    background-color: blue;
    color: white;
    transform: scale(1.2);
}
